<div class="container">

  <nav class="menu">
    <ul>
      <li>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">General use</a>
      </li>
      <li>
        <a routerLink="customized" routerLinkActive="active">Customized toolbar</a>
      </li>
      <li>
        <a routerLink="custom-css" routerLinkActive="active">Customized Quill Template CSS</a>
      </li>
      <li>
        <a routerLink="bubble" routerLinkActive="active">Bubble template</a>
      </li>
    </ul>
  </nav>

  <h1>Sample project using ngx-quill with Angular</h1>

  <router-outlet></router-outlet>

</div>


